<h1>Welcome to the team page!</h1>
	{{currentUser}}
	

<form action="/team" accept-charset="UTF-8" method="post">
	<input name="utf8" type="hidden" value="✓">
	<input type="hidden" name="authenticity_token" value="{{xsrfToken}}">
	<input name="team[name]" type="text">
	<input type="submit" name="commit" value="Create Team">
</form>
<div class="flex-center">
	<div ng-repeat="team in teams | filter:userId"  class="team">
		<div class ="team-card fire">
			<button class="form" ng-click="deleteTeam(team.id)">delete this team $id</button>
			<h1>{{team.name}}</h1>
			<div class="flex-center">
				<div class ="pokemon" ng-repeat="poke in team.pokedexes">
					<h2>{{poke.name.upperCaseFirst()}}</h2>
					<img src="{{poke.sprite}}">
					<form action="/team_pokedex" accept-charset="UTF-8" method="post">
						<input name="utf8" type="hidden" value="✓">
						<input type="hidden" name="authenticity_token" value="{{xsrfToken}}">
						<input name="pokemon[name]" type="hidden" value="{{pokemon.name}}">
						<input name="pokemon[pokeid]" type="hidden" value="{{poke.id}}">
						<input name="team[id]" type="hidden" value="{{team.id}}">
						<input type="submit" name="commit" value="Remove this Pokemon from Team">
					</form>
				</div>
			</div>
			<a href="/#!/team/{{team.id}}/pokemon" ng-show="team.pokedexes.length<6">Add Pokemon!</a>
		</div>
	</div>