@mixin card-defaults($minwidth, $width, $height){
	@media (min-width: $minwidth) {
		.card{
			font-family:"Open Sans", sans-serif;
			margin:1% 1% 1% 1%;
			text-align:center;
			float: left;
			border: 5px solid #F7D035;
			box-sizing: border-box;
			width: $width;
			height: $height;
			border-radius:5px;	
			flex-shrink: 1;
			flex-grow: 1;
		}
		.team-card{
			font-family:"Open Sans", sans-serif;
			margin:1% 1% 1% 1%;
			text-align:center;
			float: left;
			border: 5px solid #F7D035;
			box-sizing: border-box;
			border-radius:5px;	
			flex-shrink: 1 0 auto;
		}
		.team-card:nth-child(odd){
			background-color:  blue;
		}
		.team-card:nth-child(even){
			background-color: red;
		}
	}
}
