
.flex-center{
	display: flex;
	align-content: center;
	justify-content: center;
	flex-flow: row wrap; 
	flex-shrink: 1 0 auto;
}

.pokemon {
	flex-basis: 33%;
}

table {
	max-width: 80%;
}

.stats {
	display: block;
	text-align: left;
	margin: 1em 1em 1em 1em;
}

.align-left {
	width: 50%;
	float: left;
	// text-align: left;
}

.align-right {
	width:50%;
	float: left;
	// text-align: right;
}
