
.flex-center{
	display: flex;
	align-content: center;
	justify-content: center;
	flex-flow: row wrap; 
	flex-shrink: 1 0 auto;
}

.pokemon {
	flex-basis: 33%;
}

table {
	max-width: 80%;
}

.stats {
	display: block;
	// text-align: left;
}

// .align-left {
// 	text-align: left;
// }

// .align-right {
// 	text-align: right;
// }
