/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.team {
	float: none;
	width:100%;
	box-sizing: border-box;
	display: inline-block;
}
